@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-poppins bg-[#F2F7FB];
  }
}

@layer components {
  .header {
    @apply sticky bg-blueColor top-0 z-[1000] flex h-[72px] items-center px-10 md:px-12 text-white;
  }

  .header-link {
    @apply flex items-center space-x-1 cursor-pointer font-medium;
  }
}

/* Styles for markedown html markup */
.job-post li {
  list-style: circle;
}

.job-post a {
  background-color: #0f4a7b;
  padding: 10px 20px;
  color: white;
  font-size: bold;
  line-height: 4;
  border-radius: 4px;
}
